doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/globals.css")
    block styles
    title StudyBuddies
  body
    block navbar
      .navbar
        a(href="/").nav-link Home
        a(href="/tasks").nav-link Tasks
        a(href="/tutors").nav-link Tutors
        if currentUser
          a(href=(currentUser.type === 'tutor' ? `/tutor-profile/${currentUser.id}` : `/user-profile/${currentUser.id}`)).nav-link Profile
        else
          a(href="/login").nav-link Login

    block content

    block footer
      footer.footer
      .footer-content © 2025 StudyBuddies

    block scripts