extends base

block styles
  link(rel="stylesheet", href="/css/home.css")

block content
  .home-page
    .hero-section
      .hero-content
        h1.hero-title STUDY BUDDIES
        p.hero-description Are you feeling like a scared, wide-eyed freshman? Well, dry those tears! We're your friendly neighborhood study pals, here to make sure you don't flunk out!
        .hero-buttons
          button.cta-button(onclick="window.location.href='/register'") Get Started
          button.secondary-button(onclick="scrollToSection('why-choose')") Learn More
      .hero-circles
        .circle-large
        .circle-medium
        .circle-small

    .features-section#why-choose
      .section-container
        h2.section-title Why choose StudyBuddies?
        .features-container
          .feature
            h3.feature-title Reliable Peer Support
            p.feature-description Trouble tackling Trigonometry? Fret not, our student aides have been there.
          .feature
            h3.feature-title Wide Subject Range
            p.feature-description From Architecture to Zoology, we've got your back.
          .feature
            h3.feature-title Expert Guided Sessions
            p.feature-description Learn directly from top-tier students who've cracked the code.
          .feature
            h3.feature-title Time Management
            p.feature-description Master the art of juggling uni-life and actual life. It isn't magic, just super effective mentoring.

    .achievements-section
      .section-container
        h2.section-title Our Achievements
        .achievements-container
          .achievement-card
            h3.achievement-title Happy Students
            p.achievement-description Over 100 students and we're just started
          .achievement-card
            h3.achievement-title 20+ Subjects Tutored
            p.achievement-description We cover every field
          .achievement-card
            h3.achievement-title 50+ Peer Tutors
            p.achievement-description We're pretty big!

    .contact-section
      .section-container
        h2.section-title Reach Out Anytime, We're here to Help
        p.contact-subtitle Need assistance or have a question? Contact our friendly staff
        .contact-methods
          .contact-card
            .contact-icon
              img(src="/images/phone.svg", alt="Phone icon")
            h3.contact-method +44312321213
            p.contact-description We're happy to hear from you
          .contact-card
            .contact-icon
              img(src="/images/email.svg", alt="Email icon") 
            h3.contact-method support@help.com
            p.contact-description The Best Way To Find Answer

block scripts
  script.
    function scrollToSection(sectionId) {
      document.getElementById(sectionId).scrollIntoView({ behavior: 'smooth' });
    }