doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/globals.css")
    link(rel="stylesheet", href="/css/login.css")
  body(class="login-page")
    .login
      .login-container
        .welcome-text Welcome Back
        form#loginForm
          .input-group
            label.input-label Email
            input.form-input(type="email", name="email", placeholder="Example@email.com", required)
          
          .input-group
            label.input-label Password
            input.form-input(type="password", name="password", placeholder="Your password", required)
          
          .forgot-password Forgot Password?
          
          button.signin-btn(type="submit") Sign In
          
          .divider Or continue with
          
          .social-btn
            img.social-icon(src="/images/google.svg")
            span Sign In with Google
          
          .social-btn
            img.social-icon(src="/images/facebook.svg")
            span Sign In with Facebook

script(src="/scripts/login.js")