doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/globals.css")
    link(rel="stylesheet" href="/css/style2.css")
  body
    .profile
      .div
        .ellipse
        .text
          .text-wrapper Dmytro Hanenko
          .text-wrapper-2 Web Design and Development
          .group
            .text-wrapper-3 Level 1 Badge
            .overlap-group-wrapper
              .overlap-group
                .group-2
                .text-wrapper-4 1
        .text-wrapper-5 Your Profile
        .frame
          .block-wrapper
            .block
              .text-wrapper-6 Software Engineering
              .frame-2
          .block-wrapper
            .block
              .text-wrapper-6 App Design
              .frame-2
          .block-wrapper
            .block
              .text-wrapper-6 Web Design
              .frame-2
        button.button 
          .edit-profile Edit Profile
        button.div-wrapper 
          .text-wrapper-7 Sign Out
        button.button-2 
          .text-wrapper-8 Become a Tutor
        .navbar
          .text-wrapper-9 Home
          .text-wrapper-9 Tasks
          .text-wrapper-9 Tutors
          .text-wrapper-9 Profile
        .overlap
          button.button-3 
            .text-wrapper-10 Add Task
          .group-3
            .text-wrapper-11 Courses
            .text-wrapper-12 Opened Tasks
            .text-wrapper-13 Resolved Tasks
            .text-wrapper-14 Tutors
            //img.line(src="img/line-1.svg")
            //img.img(src="img/line-4.svg")
            //img.line-2(src="img/line-5.svg")
            //img.line-3(src="img/line-7.svg")
            .frame-3 
              .text-wrapper-15 Search
        .text-wrapper-16 © 2025 StudyBuddies
        .frame-4
          img.material-symbols(src="images/star.svg")
          img.material-symbols(src="images/star.svg")
          img.material-symbols(src="images/star.svg")
          img.material-symbols(src="images/star.svg")
          img.material-symbols(src="images/star.svg")
