doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/globals.css")
    link(rel="stylesheet", href="/css/register.css")
    title Register
  body(class="register-page")
    .register
      .profile
        .text-wrapper Create Your Account
        form#registerForm
          .form-group
            label.form-label(for="name") Name
            input.form-input(type="text", name="name", placeholder="Your name", required)
          
          .form-group
            label.form-label(for="surname") Surname
            input.form-input(type="text", name="surname", placeholder="Your surname", required)
          
          .form-group
            label.form-label(for="course") Course
            input.form-input(type="text", name="course", placeholder="Your course", required)
          
          .form-group
            label.form-label(for="subjects") Subjects
            input.form-input(type="text", name="subjects", placeholder="Math, Physics, Chemistry", required)
          
          .form-group
            label.form-label(for="email") Email
            input.form-input(type="email", name="email", placeholder="example@email.com", required)
          
          .form-group
            label.form-label(for="password") Password
            input.form-input(type="password", name="password", placeholder="Your password", required)
          
          .form-group#shortMessageContainer(style="display: none")
            label.form-label(for="shortMessage") Short Message (for tutors)
            textarea.form-textarea(name="shortMessage", placeholder="Brief description about yourself as a tutor", rows="3")
          
          .user-type-container
            .user-type-btn(data-type="user") Student
            .user-type-btn(data-type="tutor") Tutor
          input#userType(type="hidden", name="userType", value="user")
          
          button.submit-btn(type="submit") Sign Up
          
          .divider Or continue with
          
          button.social-btn(type="button")
            img.social-icon(src="/images/google.svg")
            span Sign Up with Google
          
          button.social-btn(type="button")
            img.social-icon(src="/images/facebook.svg")
            span Sign Up with Facebook

    script(src="/scripts/register.js")